# Eclipse
**/.classpath
**/.project
**/.settings/
.project

# Netbeans
nbproject/
nbactions.xml.project
nbactions.xml

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/
.factorypath

# Maven
pom.xml.*
release.properties
target/
.flattened-pom.xml